        <div>
             <hr>
             <p class="footer"><b>Our Team </b><br>Akash Tripathi (Team Lead) &nbsp;&nbsp;&nbsp; Nitesh Jhawar &nbsp;&nbsp;&nbsp; Rishabh Joshi <br>
			 Contact : Akash : +918272829019, tripathiaakash14@gmail.com <br><br></p>
			 
        </div>
        
        <script src="/javascript/index.js"></script>
    </body>
</html>

